In [1]:
import pandas as pd
import numpy as np

In [2]:
data_user = pd.read_csv('D:\\Workspace\\Data_Mining\\Restaurant_Recomendation_System\\data\\users.csv',index_col = 0)
data_user.head()
data_review = pd.read_csv('D:\\Workspace\\Data_Mining\\Restaurant_Recomendation_System\\data\\IL_review.csv',index_col = 0)
data_review.head()

C:\Users\tempadmin\AppData\Local\Temp\ipykernel_7872\2548043772.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data_user = pd.read_csv('C:/Users/tempadmin/OneDrive/Desktop/Code/Restaurant-Recommendation-System-using-Yelp-Dataset/data/users.csv',index_col = 0)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,year
0,Ad91EzbAGRCR1SwkPfZJKg,LWTvg7RlyNLXIf482tXBPw,WCVFqK84i2H5EClSoow7ZA,5.0,0,0,0,"Traveling through in our RV, stopped over in G...",2016-07-21 17:41:18,2016
1,uGJubhANtj6sfP_xz8LeLQ,1EecTw-Iojid62ySMMl5gA,xR3inMR2KceU3b9dhkz_tw,4.0,0,0,0,The food and service was amazing! I only wish ...,2016-01-30 04:15:18,2016
2,xqp0pnO0PfBkaFRNaVImYw,c35f8FumQy5045zFbIir6w,_uyLoz0BbrQIVmUEm_td1Q,3.0,0,0,0,My husband had the 6 oz pepperloin meal and wa...,2018-06-09 01:10:44,2018
3,91uC4f0aX4ycQTDL5Hq7Mw,huHPQSQgw4kFakc0Vq7TDA,_D7QoWuQKMXk0mEE7r_Ftw,5.0,1,0,1,I have been a fan of Chateau La Vin for a few ...,2014-03-14 13:55:46,2014
4,GVoXS_AdNzSUbyNcoErdZQ,rqYkeGG9PBAdMRDvTMCmfw,MVmJuns9ZD9QLGltc0Am8g,5.0,0,0,0,"Out lunch today was pulled pork, smokehouse bo...",2015-11-18 18:51:24,2015

In [3]:
unique_IL_users = data_review.user_id.unique()
user_idx = [i for i in range(data_user.shape[0]) if data_user.user_id[i] in unique_IL_users]
user_df = data_user.iloc[user_idx,:]

In [4]:
user_df.index = range(user_df.shape[0])
user_df.head()

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,VcLRGCG_VbAo8MxOm76jzA,AJ,133,2009-07-11 16:47:38,201,52,44,NaN,"Ynu2Z2L8Wv2fbTwQ_8LFqQ, 8dWVRK9v6TrhD-63TTEoIw...",4,...,0,0,0,0,2,4,0,0,1,0
1,MGPQVLsODMm9ZtYQW-g_OA,Jelena,1807,2008-01-19 22:50:00,17331,10461,13734,"2008,2009,2010,2011,2012,2013,2014,2015,2016,2...","HpJzEFN1kyuH6VAF_usqKg, F_NG8ZaNVriV_hujoOejIA...",828,...,167,206,395,130,915,3396,1915,1915,696,470
2,3oDIaMM1bd7cwN0eKQv-rA,Shan,187,2007-06-15 20:02:41,313,91,131,"2008,2009,2010","NeTerm2YBWnbBsydO71AUw, lf1m4CbheuUR7fFZoLGRvA...",9,...,3,0,1,0,17,15,13,13,2,0
3,d9WIz0Xuh9ECkHfVmqbhIw,Jeff,324,2009-08-25 06:41:56,741,305,344,"2010,2011,2012,2013,2014,2015","S5WQcThM04eH7Eu0YJ1a1Q, 04NejaNIwJiV6QU-tkFKOg...",16,...,6,3,3,0,18,41,22,22,17,3
4,iaDFNFfwwVmc_v3k3_cU1A,Felicia,275,2009-02-18 06:35:37,265,96,125,2015,"EjlCGf14tYMPJ0rsrL703w, JuP3pPiflOVceZsi2uTwvg...",17,...,0,2,2,0,2,8,12,12,4,3

In [5]:
user_df.isnull().sum()

user_id                   0
name                      1
review_count              0
yelping_since             0
useful                    0
funny                     0
cool                      0
elite                 15560
friends                6725
fans                      0
average_stars             0
compliment_hot            0
compliment_more           0
compliment_profile        0
compliment_cute           0
compliment_list           0
compliment_note           0
compliment_plain          0
compliment_cool           0
compliment_funny          0
compliment_writer         0
compliment_photos         0
dtype: int64

In [6]:
user_df['is_elite'] = ~np.array(user_df.elite.isnull())
user_df.is_elite.describe()

C:\Users\tempadmin\AppData\Local\Temp\ipykernel_7872\3037546122.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_df['is_elite'] = ~np.array(user_df.elite.isnull())

count     16898
unique        2
top       False
freq      15560
Name: is_elite, dtype: object

In [7]:
len(user_df.yelping_since.unique())

16898

In [8]:
yr_ls = [eval(x.split('-')[0]) for x in user_df.yelping_since]
user_df['year'] = yr_ls
user_df

C:\Users\tempadmin\AppData\Local\Temp\ipykernel_7872\3321491257.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_df['year'] = yr_ls

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos,is_elite,year
0,VcLRGCG_VbAo8MxOm76jzA,AJ,133,2009-07-11 16:47:38,201,52,44,NaN,"Ynu2Z2L8Wv2fbTwQ_8LFqQ, 8dWVRK9v6TrhD-63TTEoIw...",4,...,0,0,2,4,0,0,1,0,False,2009
1,MGPQVLsODMm9ZtYQW-g_OA,Jelena,1807,2008-01-19 22:50:00,17331,10461,13734,"2008,2009,2010,2011,2012,2013,2014,2015,2016,2...","HpJzEFN1kyuH6VAF_usqKg, F_NG8ZaNVriV_hujoOejIA...",828,...,395,130,915,3396,1915,1915,696,470,True,2008
2,3oDIaMM1bd7cwN0eKQv-rA,Shan,187,2007-06-15 20:02:41,313,91,131,"2008,2009,2010","NeTerm2YBWnbBsydO71AUw, lf1m4CbheuUR7fFZoLGRvA...",9,...,1,0,17,15,13,13,2,0,True,2007
3,d9WIz0Xuh9ECkHfVmqbhIw,Jeff,324,2009-08-25 06:41:56,741,305,344,"2010,2011,2012,2013,2014,2015","S5WQcThM04eH7Eu0YJ1a1Q, 04NejaNIwJiV6QU-tkFKOg...",16,...,3,0,18,41,22,22,17,3,True,2009
4,iaDFNFfwwVmc_v3k3_cU1A,Felicia,275,2009-02-18 06:35:37,265,96,125,2015,"EjlCGf14tYMPJ0rsrL703w, JuP3pPiflOVceZsi2uTwvg...",17,...,2,0,2,8,12,12,4,3,True,2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16893,1xX2SAYAwfg5MONQWNQwYA,William,23,2018-06-20 15:14:22,5,4,1,NaN,NaN,0,...,0,0,0,0,0,0,0,0,False,2018
16894,z55veBpdaFN-rqV3_xmosA,Jenny,5,2015-06-09 18:52:51,0,0,0,NaN,NaN,0,...,0,0,0,0,0,0,0,0,False,2015
16895,cTdUXBHS3ectxEUxi422ZQ,Fran,21,2015-02-05 21:58:06,18,7,3,NaN,NaN,0,...,0,0,1,2,0,0,0,0,False,2015
16896,oLgyPVYc0FLksBpk9ji34g,Ryan,1,2020-01-10 23:47:35,0,0,0,NaN,NaN,0,...,0,0,0,0,0,0,0,0,False,2020
16897,wYLT2BFVpWHAYZVGN81cUg,Bridget,2,2012-08-22 00:16:59,0,0,0,NaN,NaN,0,...,0,0,0,0,0,0,0,0,False,2012

In [9]:
user_df.to_csv("D:\\Workspace\\Data_Mining\\Restaurant_Recomendation_System\\data\\IL_users.csv")